/* You can add global styles to this file, and also import other style files */
$backGound:#F0EBCE;
$fontColor: #395144;
$fontColor2: #AA8B56;
$buttonColor: #395144;
$navBar: #4E6C50;
$cardColor:#AA8B56;
$warningMsg: rgb(219, 105, 105);

body{
    background-color:$buttonColor;
}