<div class="container">
    <div class="container">
        <div class="container">
            <div class="row basic-section my-3">
                <div class="col-2">
                    <img [src]="authorDetails.author.img" class="rounded img-fluid my-2 authorimg">
                </div>
                <div class="col-6 my-2">
                    <h2 class="">
                        {{authorDetails.author.first_name}}
                        {{authorDetails.author.last_name}}
                    </h2>
                    <div>{{authorDetails.author.Date_of_birth|date}}</div>
                </div>
            </div>
            <div class="row basic-section my-3">
                <h3>Author's Books</h3>
                <div *ngFor="let book of authorDetails.books">
                    <div class="row">
                        <div class="col-2">
                            <img [src]="book.img" class="rounded img-fluid my-2 bookimg">
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center ">
                            <h4>{{book.name}}</h4>
                            <h6>{{book.avg_rate |number:'1.0-1'}} - {{book.count_rate}} ratings</h6>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <select #state (change)="chooseState(state.value,book._id)" class="form-select">
                                <option [ngValue]="null" disabled selected>Add book</option>
                                <option>Read</option>
                                <option>Want to Read</option>
                                <option>currently Read</option>
                            </select>
                        </div>
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating1" [id]="'rating'" #rate
                                        (change)="chooseRating(form.value.rating1,book._id)"></ngx-star-rating>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>