<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="w-75 m-auto py-5 " class="img-fluid" class="bg-image "
style="
  background-image: url('../../../../assets/images/AuthorBackGround.png');
  height: 800px;">
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card containerr " style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5 textcolor ">Create an account</h2>
                <!-- <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  <strong class="mx-2">Error!</strong> A problem has been occurred while submitting your data.
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                 -->
                <form [formGroup]="registerForm" (ngSubmit)="onClickSubmit(registerForm)">
                  <div class="form-outline mb-4">
                    <label class="form-label textcolor" for="form3Example1cg">First Name</label>
                    <input formControlName="username" type="text" id="form3Example1cg"
                      class="form-control form-control-lg" />
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                      *ngIf="registerForm.get('username')?.errors !=null && registerForm.get('username')?.touched">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      <div class="mx-2 d-flex align-items-center"
                        *ngIf="registerForm.get('username')?.errors?.['required']">
                        <span> First Name is required</span>
                      </div>
                      <div class="mx-2 d-flex align-items-center"
                        *ngIf="registerForm.get('username')?.errors?.['minlength']">
                        <span>Please provide a valid name.</span>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label textcolor " for="form3Example3cg"> last Name</label>
                    <input formControlName="lastname" type="email" id="form3Example3cg"
                      class="form-control form-control-lg" />
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                      *ngIf="registerForm.get('lastname')?.errors !=null && registerForm.get('lastname')?.touched">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      <div class="mx-2 d-flex align-items-center"
                        *ngIf="registerForm.get('lastname')?.errors?.['required']">
                        <span> Name is required</span>
                      </div>
                      <div class="mx-2 d-flex align-items-center"
                        *ngIf="registerForm.get('lastname')?.errors?.['minlength']">
                        <span>Name is less 2 letter</span>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label textcolor" for="form3Example4cg">Email</label>
                    <input formControlName="email" type="email" id="form3Example4cg"
                      class="form-control form-control-lg" />
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                      *ngIf="registerForm.get('email')?.errors !=null && registerForm.get('email')?.touched">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      <div class="mx-2 d-flex align-items-center" *ngIf="registerForm.get('email')?.errors?.['required']">
                        <span> Email is required</span>
                      </div>
                      <div class="mx-2 d-flex align-items-center" *ngIf="registerForm.get('email')?.errors?.['email']">
                        <span>Please provide a valid email.</span>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label textcolor" for="form3Example4cg">password</label>
                    <input formControlName="password" type="password" id="form3Example4cg"
                      class="form-control form-control-lg" />
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                      *ngIf="registerForm.get('password')?.errors !=null && registerForm.get('password')?.touched">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      <div class="mx-2 d-flex align-items-center"
                        *ngIf="registerForm.get('password')?.errors?.['required']">
                        <span> Password is required</span>
                      </div>
                      <div class="mx-2 d-flex align-items-center"
                        *ngIf="registerForm.get('password')?.errors?.['minlength']">
                        <span> Please provide a strong password </span>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit"class="btn btn-dark btn-lg " id="loginButton" type="submit">Register</button>
                  </div>
                  <p class="text-center text-muted mt-5 mb-0 textcolor ">Have already an account? <a routerLink='/login'
                      class="fw-bold  textcolor "><u>Login here</u></a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>