<p>author works!</p>
<!--<div class="container">
    <div class="row">
        <div *ngFor="let author of authors" class="col-3">
            <div class="card  text-center" style="width: 18rem;">
                <img [src]="author.img" class="img-fluid">
                <div class="card-body">
                    <span class="card-title">{{author.first_name}}</span>
                    <span  class="card-title">{{author.last_name}}</span>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a [routerLink]="['/authordetails',author._id]">
                        <button class="btn  button" >see more</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<p>author works</p>