<div class="container basic-section my-4 ">
    <div class="row">
        <div *ngFor="let book of books" class="col-lg-2 col-md-3 my-3 col-6 position-relative">
            <a [routerLink]='["/bookdetails",book._id]'>
                <img [src]="book.img" class="img-fluid rounded">
                <h5>{{book.name}}</h5>
            </a>
            <a [routerLink]="['/authordetails',book.author_id._id]">
                <h6>
                    by:{{book.author_id.first_name}}
                    {{book.author_id.last_name}}
                </h6>
            </a>
        </div>
        <div *ngFor="let book of books" class="col-lg-2 col-md-3 my-3 col-6 position-relative">
            <a [routerLink]='["/bookdetails",book._id]'>
                <img [src]="book.img" class="img-fluid rounded  ">
                <h5> {{book.name}}</h5>
            </a>
            <a [routerLink]="['/authordetails',book.author_id._id]">
                <h6>
                    by:{{book.author_id.first_name}}
                    {{book.author_id.last_name}}
                </h6>
            </a>
        </div>
        <div *ngFor="let book of books" class="col-lg-2 col-md-3 my-3 col-6 position-relative">
            <a [routerLink]='["/bookdetails",book._id]'>

                <img [src]="book.img" class="img-fluid rounded  ">
                <h5> {{book.name}}</h5>

            </a>
            <a [routerLink]="['/authordetails',book.author_id._id]">
                <h6>
                    by:{{book.author_id.first_name}}
                    {{book.author_id.last_name}}
                </h6>
            </a>
        </div>
    </div>
</div>