<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                                *ngIf="error">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <div>
                                    <strong class="mx-2">Error!</strong>
                                    {{error}}
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            <form [formGroup]="registerForm" (ngSubmit)="onClickSubmit(registerForm)">
                                <!-- email -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Email</label>
                                    <input formControlName="email" type="email" id="form3Example4cg"
                                        class="form-control form-control-lg" />
                                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                                        *ngIf="registerForm.get('email')?.errors !=null && registerForm.get('email')?.touched">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        <div class="mx-2 d-flex align-items-center"
                                            *ngIf="registerForm.get('email')?.errors?.['required']">
                                            <span> Email is required</span>
                                        </div>
                                        <div class="mx-2 d-flex align-items-center"
                                            *ngIf="registerForm.get('email')?.errors?.['email']">
                                            <span>Please provide a valid email.</span>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                </div>
                                <!-- password -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">password</label>
                                    <input formControlName="password" type="password" id="form3Example4cg"
                                        class="form-control form-control-lg" />
                                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-2"
                                        *ngIf="registerForm.get('password')?.errors !=null && registerForm.get('password')?.touched">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        <div class="mx-2 d-flex align-items-center"
                                            *ngIf="registerForm.get('password')?.errors?.['required']">
                                            <span> Password is required</span>
                                        </div>
                                        <div class="mx-2 d-flex align-items-center"
                                            *ngIf="registerForm.get('password')?.errors?.['minlength']">
                                            <span>Please provide a strong password</span>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
