.authorimg {
    width: 180px; 
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.button{
    background-color:#d2ba98;
    color: #7e6339;

}
.button:hover{
    background-color:#d2ba98;
    color: #7e6339;

}
.container{
    color:  #311504;
}
