
<mat-grid-list cols="2" rowHeight="5:5">
  <mat-grid-tile>
    <img src="../../../../assets/images/pexels-cottonbro-studio-2925316.jpg" class="img-fluid" alt="Responsive image">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../../assets/images/pexels-dayan-rodio-4132936.jpg" class="img-fluid" alt="Responsive image">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../../assets/images/pexels-eneida-nieves-964547.jpg" class="img-fluid" alt="Responsive image">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../../../assets/images/pexels-rikka-ameboshi-3358707.jpg" class="img-fluid" alt="Responsive image">
  </mat-grid-tile>
</mat-grid-list>
