.basic-section {
    height: auto;
    border-radius: 1.563em;
    /* border: 0.625em solid #1A0B02; */
    background-size: contain;
    text-align: center;
    font-size: .813em;
    background-color:#e4d2b8;
    /* position: relative; */
    box-shadow: 0 0 7px #D7AB79;
    border: .400em solid #1A0B02;;
}
#sideBar{
    border-radius: 1.563em;
    margin-bottom: 20;
    background-size: contain;
    background-color:#e4d2b8;
    // box-shadow: 0 0 7px #D7AB79;
    // border: .400em solid #1A0B02;
}
#menu_list{
    text-decoration-style: none;
    color: antiquewhite;
    // background-image: url(../images/sprite-guestbasic.png)
}