.mainMenu {
    width: 100%;
    background-color: #392215;
    height: 48px;
    border-bottom: 1px solid #2f1b10;
    z-index: 50;
    color: #dac7bd;
    font-size: 18px;
    line-height: 47px;
    padding-top: 5px;
    box-shadow: 0 2px 4px -2px #000;
    
}
