.navbar{
    background-color: #89511249;
}
.navbar-text,
.nabbar-brand,
.nav-item,
.nav-link{
    color: aliceblue;
}

    .mybg{
        height: 80px;
        width: 80px;
        display: block;
        background-image: url('../../../../assets/images//Color\ logo\ -\ no\ background.svg');
        box-shadow: red;
        border-color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }

