.basic-section {
    height:70%;
    border-radius: 1.563em;
    /* border: 0.625em solid #1a0b02; */
    background-size:cover;
 // text-align: center;
    font-size: .813em;
    background-color:#e4d2b8;
    /* position: relative; */
    box-shadow: 0 0 7px #d7ab79;
    border: .300em solid #1a0b02;;


}