<p>book works!</p>
<p>This is book component</p>


<!--<div class="container">
    <div class="row">
        <div *ngFor="let book of books" class="col-md-3">
            <a [routerLink]='["/bookdetails",book._id]'>
                <img [src]="book.img" class="img-fluid">
                <div>{{book.name}}</div>
            </a>
            <a [routerLink]="['/authordetails',book.author_id._id]">
             <span>{{book.author_id.first_name}}</span>
             <span>{{book.author_id.last_name}}</span>
            </a>
        </div>
    </div>
</div>
-->